Screen {
    align: center middle;
}
#main {
    width: 80%;
    height: 80%;
    border: solid $primary;
    padding: 2;
    overflow-y: auto;
}
.title {
    text-align: center;
    width: 100%;
    margin-bottom: 2;
    text-style: bold;
    height: auto;
}
.section-title {
    text-align: left;
    width: 100%;
    margin: 1 0;
    text-style: bold;
    color: $accent;
}
.exp-list {
    width: 100%;
    height: 8;
    border: solid $secondary;
    padding: 1;
    overflow-y: auto;
    text-style: italic;
}
Input, TextArea, Select {
    margin-bottom: 1;
    width: 100%;
    height: auto;
}
.description {
    height: 5;
}
DataTable {
    margin-top: 1;
    height: 100%;
    width: 100%;
}
#table_container {
    height: 70%;
    width: 100%;
    border: solid $secondary;
}
Button {
    margin: 1;
    width: 40%;
    height: auto;
}
Horizontal {
    align: center middle;
    height: auto;
    width: 100%;
}
Vertical {
    align: center middle;
    height: auto;
    width: 100%;
}
.section-column {
    width: 48%;
    margin-right: 2;
}
